# Ignore node_modules directory
node_modules/
.vscode/

# Ignore build output
dist/
build/ 

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp

